<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <div>
        <h1>
            Numero de personas: {{nro_personas}}
        </h1>
    </div>
    <div>
        <ul>
            {% for persona in personas%}
                <li>
                    {{persona.name}} 
                    {{persona.email}}
                    <a href="detalle/{{persona.id}}">Ver detalle</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>